@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2' , sans-serif;

}
body{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(18, 18, 22) 0%, rgb(22, 23, 26) 8.333%, rgb(26, 27, 31) 16.667%, rgb(31, 32, 35) 25%, rgb(35, 36, 39) 33.333%, rgb(39, 40, 43) 41.667%, rgb(43, 44, 47) 50%, rgb(47, 48, 51) 58.333%, rgb(50, 51, 55) 66.667%, rgb(54, 55, 58) 75%, rgb(56, 57, 61) 83.333%, rgb(59, 60, 64) 91.667%, rgb(61, 62, 66) 100%);

}
.container{
    border: 2px solid black;
    padding: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 485px;
    border-radius: 10px;
    box-shadow: 3px 12px 15px 12px ;
}
.input{
    height: 41px;
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    border: none;
    background: transparent;
    font-size: 50px;
    text-align: right;
    color: white;

}
input::placeholder{
    color: white;
}
.btn{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(69, 69, 69);
    color: white;
    font-size: 26px;
    cursor: pointer;
    box-shadow: -8px -3px 3px 1px rgb(18, 18, 22);
}
.btn:active {
  transform: translateY(4px);
}
.row{
    display: flex;
    gap: 15px;
}
.opr{
    background-color: chocolate;
}
.top{
    background-color: rgb(191, 191, 191);
    color: black;
}
