@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

:root{
    --back-color: white;
    --text-color:#6666ff;
    --text-color2:#9b9bd1;
    --text-color3:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'baloo bhai 2';
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19px 100px 0px 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.bar-content ul li{
    list-style: none;
    display: flex;
    gap: 21px;
    font-size: 23px;

}
.bar-content ul li a{
    text-decoration: none;
    color: var(--text-color2);
    transition: all;
    transition-timing-function: ease-in;
    transition-duration: 0.1s;
}
.nav h1{
    color: var(--text-color);
    font-size: 35px;
}
.bar-content ul li a:hover{
    color:var(--text-color)
}
.profile{
    display: flex;
    margin: 109px 0px 0px 136px;
    justify-content: space-between;

}
.intro{
    margin-top: 37px;
}
.intro p{
    max-width:551px;
}
.image{
    background-color: var(--text-color);
    color: var(--back-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -21px 193px 0px 0px;
    height: 22rem;
    width: 22rem;
    /* border-radius: 50%; */
    font-size: 56px;
}
.image img{
    height: 22rem;
    width: 22rem;
    /* margin-top: 16rem; */
}
.about-me{
    margin-top: 3rem;
}


.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.learn{
    display: flex;
    justify-content:space-between;
    width: 100%;

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 200px;
}
.html, .css, .js{
    height: 10px;
    width: 100%;
    background-color:#9b9bd1;
    border-radius: 10px;
    margin: 5px;
}
.js-bar , .css-bar , .html-bar{
    display: block;
    height: 10px;
    background-color: var(--text-color);
    border-radius: 10px;
}

.js-bar{
    width: 50%;
}
.html-bar{
    width: 90%;
}
.css-bar{
    width: 65%;
}
.frontend{
    margin: 45px 0px 57px 323px;
}
.languages{
    margin-right: 323px;
}
.java-bar , .c-bar , .cpp-bar{
    display: block;
    height: 10px;
    background-color: var(--text-color);
    border-radius: 10px;
}
.java-bar{
    width: 50%;
}
.c-bar{
    width: 90%;
}
.cpp-bar{
    width: 85%;
}
.title h1{
    font-size: 25px;
    padding-bottom: 0px;
}
.title svg{
    height: 38px;
    width: 44px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.phone{
    display: flex;
}
.phone svg{
    height: 34px;
    width: 45px;
    margin-top: 7px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 335px;
    margin-top: 90px;
}
.phone-details{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.phone-details p{
    margin-top: -9px;
}
.user-details{
    width: 35rem;
    height: 3rem;
    display: grid;
    margin-right: 190px;
    padding: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 77px;
}

.user-message{
    grid-column-start: 1;
    grid-column-end: 3;
}
.input-box textarea{
    width: 100%;
    height: 100%;
    border-radius: 5px ;
    background-color: var(--text-color2);
    color: var(--back-color);
    text-align: left;
    font-size:1.25rem;
}
.input-box textarea::placeholder{
    color: var(--back-color);
    font-size:1.25rem;
}
.footer{
    width: 100%;
    height: 11rem;
    margin-top: 10rem;
    background-color: var(--text-color);
    color: var(--back-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.name-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.f-name{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 2rem;
    gap: 23rem;

}
.social-icons svg{
    height: 51px;
    width: 34px;
    display: flex;
    align-items: center;
    
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.t-icon{
    height: 12px;
    width: 10px;
}
.copyright{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
}
.icon{
    display: flex;

}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    height: auto;
}
.about-para p{
    max-width: 40rem;
    font-size: 20px;
}
.my-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about-img{
    height: 23rem;
    width: 23rem;
    margin-top: 3rem;
}
.about-img img{
    height: 20rem;
    width: 20rem;
    margin-top: 3rem;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}
.cv-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    height: 3rem;
    width: 11rem;
    border-radius: 3rem;
    margin-top: 20px;
}

.cv-btn a{
    text-decoration: none;
    color: var(--back-color);
    height: 3rem;
    width: 11rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
